@import "tailwindcss";
@import "tailwind-animations";

@theme {
  --font-heading: [ "Montserrat Variable", "sans-serif"];
  --font-body: [ "Inter", "sans-serif"];
  --yellow: "#fbbf24";
  --dark: "#111827";
  --gray: "#4b5563";
}

@layer base {
  :root {
    --font-heading: "Montserrat Variable", sans-serif;
    --font-body: "Inter", sans-serif;
  }
}
