@import "tailwindcss";
@import "tailwind-animations";

@theme {
  --font-heading: [ "Montserrat Variable", "sans-serif"];
  --font-body: [ "Inter", "sans-serif"];
  --color-vial-yellow: "#fbbf24";
  --color-vial-dark: "#111827";
  --color-vial-gray: "#4b5563";
}
