---
import Card from "../ui/Card.astro";
---
<section id="servicios" class="py-24 bg-slate-50">
  <div class="max-w-7xl mx-auto px-6">
    
    <div class="mb-16">
      <h2 class="font-heading text-yellow-600 font-bold tracking-widest uppercase text-sm mb-4">Nuestras Capacidades</h2>
      <h3 class="font-heading text-4xl md:text-5xl font-black text-slate-900">
        Soluciones integrales de <br class="hidden md:block"/> <span class="text-yellow-500">infraestructura vial.</span>
      </h3>
    </div>

    <Card />
  </div>
</section>