---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/sections/Navbar.astro';
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/About.astro';
import Clients from '../components/sections/Clients.astro';
import Services from '../components/sections/Services.astro';
import Banner from '../components/ui/Banner.astro';
import Fleet from '../components/sections/Fleet.astro';
import Projects from '../components/sections/Projects.astro';
import Contact from '../components/sections/Contact.astro';
---

<Layout title="Stralla Vial">
	<main>
        <Navbar />
        <Hero />
        <About />
        <Clients />
        <Services />
        <Banner />
        <Fleet />
        <Projects />
        <Contact />
    </main>
</Layout>
